.subtitle {
    font: var(--subtitle);
    color: var(--gray-200);

    span {
        color: var(--red);
    }
}

#info h1 {
    font: var(--title-lg);
    color: var(--gray-100);
    padding-block: 8px 20px;
}

#info p {
    font: var(--text-sm);
    color: var(--gray-300)
}